<mat-dialog-content class="mat-typography">
  <h2>
    <label>Title</label>
    <input class="inputFields" type="text" [(ngModel)]="data.title" />
  </h2>
  <label>Description</label>
  <input class="inputFields" type="text" [(ngModel)]="data.description" />
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-raised-button
    [mat-dialog-close]="true"
    color="basic"
    (click)="deleteNote(data)"
  >
    Delete
  </button>
  <button
    mat-raised-button
    [mat-dialog-close]="true"
    color="accent"
    (click)="editNote(data)"
  >
    Save
  </button>
</mat-dialog-actions>
