@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "https://www.w3schools.com/w3css/4/w3.css"; */

  table {
    width: 100%;
  }

  /* mat-grid-tile {
    background: peachpuff;
  } */

  .create-card {
    background: rgb(236, 236, 236);
  }
  .show-cards {
    background: rgb(236, 236, 236);
    width: 80%;
    height: 80%;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  mat-card-title {
    margin-top: 20px;
  }

  .mat-card-actions {
    position: absolute;
    padding-top: 0px;
    padding-left: 80%;
  }

  p {
    height: 100%;
    overflow: hidden;
  }

  .mat-card-content {
    height: 68%;
  }

  mat-grid-list {
    margin: 50px auto;
  }

  mat-form-field {
    margin-right: 12px;
  }

  .inputFields {
    font: inherit;
    background: transparent;
    color: black;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
  }

  .colors {
    /* position: absolute;
    top: 227px;
    right: 292px; */
    float: right;
    font-size: 25px;
    padding-left: 10px;
    cursor: pointer;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.514);
  }

  .colors:hover {
    font-size: 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.493);
  }