<div class="container">
  <mat-card class="example-card create-card">
    <form [formGroup]="noteForm" (ngSubmit)="createNote()">
      <mat-form-field appearance="fill">
        <input matInput placeholder="Title" formControlName="title" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="Description"
          formControlName="description"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Create</button>
    </form>
  </mat-card>
</div>

<div class="container">
  <mat-grid-list cols="3" rowHeight="2:1" gutterSize="5px">
    <mat-grid-tile *ngFor="let note of notes">
      <mat-card class="example-card show-cards" (click)="openDialog(note)">
        <mat-card-header>
          <mat-card-actions> </mat-card-actions>
          <mat-card-title>{{ note.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ note.description }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
